<!DOCTYPE html>
<html lang="en">

<head>
  <%-include("partials/header.ejs") %>
</head>

<body>
  <%-include("partials/navbar.ejs") %>
  <main class="container-fluid col-md-10 col-12">
    <form class="compose-main-content" action="/compose" method="post">
      <h1>Compose A Post</h1>

      <label for="postTitle">Title</label>
      <input type="text" name="postTitle">

      <label for="postBody">Post</label>
      <textarea placeholder="create a post ...." name="postBody" cols="30" rows="8"></textarea>

      <input type="submit" value="Post">

    </form>
  </main>


  <%-include("partials/footer.ejs") %>
</body>

</html>