<!DOCTYPE html>
<html lang="en">

<head>
  <%-include("partials/header.ejs") %>
</head>

<body>
    <%-include("partials/navbar.ejs") %>
    <main class="container-fluid col-md-10 col-12">
      <form class="contact-us">
        <h1>Contact US</h1>
  
        <label for="fName">Full Name</label>
        <input type="text" name="fName" required>

        <label for="email">Email</label>
        <input type="email" name="email" required>
  
        <label for="postData">Message</label>
        <textarea placeholder="send a message ...." name="Message" cols="30" rows="6"></textarea>
  
        <input type="submit" value="submit">
  
      </form>
    </main>

    <%-include("partials/footer.ejs") %>
</body>

</html>